@import '../../../common.styl'

.screenWrapper
    width 100%
    padding 28px

.screen
    background white
    border-radius 10px
    padding 40px 50px
    max-height 100%
    overflow-y scroll
    coolScrollbar()

.title
    font-size 1.5em
    margin-bottom 20px

.table 
    margin-top 50px
    
    .head
        font-weight 500

    .row
        tableRow(64px)
        min-height 54px

        .name 
            multilineEllipsis(2)

    .body 
        padding 10px 0

.content 
    width 500px

.backButtonWrapper 
    margin-top 20px

.orderInfo
    display flex
    flex-direction column

    .orderProp
        display grid
        grid-template-columns 1fr 1fr
        align-items center
        min-height 54px

        &:first-child
            min-height auto
            margin-bottom 20px

        .propName
            margin-right 20px
            font-weight 500