$primary = #5E81F4
$primary-dark = #1C1D21
$primary-grey = #8181A5

$yellow = #F4BE5E
$green = #7CE7AC
$red = #FF808B
$purple = #9698D6


$background = #F6F6F6
$background-light = #F5F5FA

coolScrollbar()
  &::-webkit-scrollbar
    width 6px

  &::-webkit-scrollbar-track
    background alpha($background-light, 70%)

  &::-webkit-scrollbar-thumb
    background-color alpha($primary-grey, 80%)
    border-radius 20px
    border 3px solid transparent

tableRow($min-height = 0) {
    display grid
    grid-auto-flow column
    align-items center
    column-gap 30px
    grid-auto-columns minmax(0, 1fr)
    min-height $min-height
}

multilineEllipsis($lines = 2) {
    display -webkit-box
    -webkit-line-clamp $lines
    -webkit-box-orient vertical
    overflow hidden
    text-overflow ellipsis
}